<!DOCTYPE html>
<html lang="en">
<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <head>
  	<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    
 	<h1><%= title %></h1>
 
 <div class="container" style="text-align:left;">
		       <a href="/" class="btn btn-info btn-lg" style="color: #ffffff; background-color: #000000">
		          <span class="glyphicon glyphicon-user"></span> Home
		        </a>
		    </div>
		    

		    
 
  </body>
</html>