<div class="row" ng-controller="sell">


<div class="_sm_wrap" id="hero-w0-searchbox-0[0]">

<div id="head">
<p style="font-size: 24px">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;What do you want to sell?</p>
</div>

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input id="checktrans" autocomplete="off" style="padding: 10px;" ng-model="item_type" type="search" class="_sm_inp" maxlength="50" name="smac_complete" size="70" autocapitalize="off" autocorrect="off" spellcheck="false" aria-live="polite" role="status" aria-haspopup="false" placeholder="Give your listing a descriptive title..." id="hero-w0-searchbox-2" data-w-onkeydown="handleKeydown|hero-w0-searchbox"/>

        <button ng-click="btn_sell();" class="btn btn-primary" type="button" data-w-onclick="handleSubmit|hero-w0-searchbox" id="hero-w0-searchbox-3">Sell it</button>
		<a href="#createListing"><button class="btn btn--primary _sm_btn" type="button" data-w-onclick="handleSubmit|hero-w0-searchbox" id="hero-w0-searchbox-3">Cancel</button></a>
        </div>
        
        <div id="head1">
<p style="font-size: 14px">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Example: Men's blue adidas glide running shoes size 11</p>
</div>
</div>